.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-block: var(--space--4);
  z-index: var(--z--header);
  color: var(--white);
  mix-blend-mode: difference;
}
.header__inner {
  display: flex;
  align-items: center;
}
.siteLogo {
  font-size: 24px;
  font-family: serif;
  font-weight: bold;
  line-height: 1;
}
.siteLogo > a {
  text-decoration: none;
  color: inherit;
}
