.menuBtn {
  /* buttonのスタイルリセット */
  font: inherit;
  width: auto;
  height: auto;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  /* ボタンのスタイル */
  border-radius: 4px;
  padding: 0.5rem;
  margin-inline-start: auto;
  transition: opacity var(--duration);
}

/* メニューを開くボタン: メニュー展開時にフェードアウト */
/* TODO: 後で対応 */
/* .menu-btn--open {
  opacity: 1;
} */
/* body:has() は処理負荷が高いので、隣接セレクタを使う */
/* TODO: 後で対応 */
/* .nav-dialog[data-open] + .header .menu-btn--open {
  opacity: 0;
  pointer-events: none;
} */

/* メニューを閉じるボタン: dialog展開時にフェードイン */
/* TODO: 後で対応 */
/* .menu-btn--close {
  opacity: 0;
}
.nav-dialog[data-open] .menu-btn--close {
  opacity: 1;
} */

/* ハンバーガーアイコン */
.menuIcon {
  width: 1.5em;
  height: 1.5em;
  display: grid;
  align-content: center;
  gap: 0.375em;
  transition: gap var(--duration);
}
.menuIcon > span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: currentColor;
  transition-duration: var(--duration);
  transition-property: transform, opacity;
}

/* 閉じるボタンのアイコン */
/* TODO: 後で対応 */
/* .menu-icon--close > span {
  grid-area: 1/1;
  --rotate: 45deg;
  transition: transform var(--duration);
}
.menu-icon--close > span:first-child {
  transform: rotate(var(--rotate));
}
.menu-icon--close > span:last-child {
  transform: rotate(calc(var(--rotate) * -1));
}
@media (any-hover: hover) {
  .menu-btn--open:hover > .menu-icon {
    gap: 0.25em;
  }
  .menu-btn--close:hover > .menu-icon > span {
    --rotate: 30deg;
  }
} */
