.sectionVisit {
  position: relative;
  min-height: 80svh;
  display: grid;
}
.sectionVisit__bg {
  position: absolute;
  inset: 0;
}
.sectionVisit__bg::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;

  /* 黒いドットフィルター */
  background-color: rgb(0 0 0 / 50%);
  background-image: radial-gradient(
    circle,
    rgb(0 0 0 / 50%) 1px,
    rgb(0 0 0 / 10%) 0%
  );
  background-size: 3px 3px;
  -webkit-backdrop-filter: grayscale(0.5) contrast(0.8) sepia(0.4);
  backdrop-filter: grayscale(0.5) contrast(0.8) sepia(0.4);
}
.sectionVisit__inner {
  position: relative;
  display: grid;
  width: 100%;
  max-width: var(--size--lg);
  margin: auto;
  padding-inline: var(--space--gutter);
  color: var(--white);
}
.sectionVisit__content {
  display: grid;
  width: min(30em, 100%);
  padding: 2.5em var(--space--gutter);
  border-radius: 1em;

  /* 背景を暗いすりガラス風に */
  background-color: rgb(0 0 0 / 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  box-shadow:
    inset 0 0 0 1px rgb(255 255 255 / 0.1),
    inset 1px 2px 8px -2px rgb(0 0 0 / 0.1);
}
