.card {
  margin: 80px 0;
  padding: 40px;
  background: #eee;
  opacity: 0;
  transform: translateY(40px) scale(0.8);
  animation: fade-slide 1s forwards;
  animation-timeline: view();
  animation-range: cover -10% cover 30%;
  &:nth-child(1) {
    /* animation-delay: 0s; */
  }
  &:nth-child(2) {
    /* animation-delay: 1s; */
    animation-range: cover -5% cover 35%;
  }
  &:nth-child(3) {
    /* animation-delay: 2s; */
    animation-range: cover 0% cover 40%;
  }
}

@keyframes fade-slide {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
