.card {
  margin: 80px 0;
  padding: 40px;
  background: #eee;
  opacity: 0;
  transform: translateY(40px) scale(0.8);
  animation: fade-slide 1s forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

@keyframes fade-slide {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
