/* aspect-ratioを用いて画像比率の固定を実装する */
.frame16_9 {
  aspect-ratio: 16 / 9;
}
.frame16_9 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.img16_9 {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* aspect-ratioを用いたカードレイアウトのサンプル */
.card {
  display: grid;
  box-shadow: var(--shadow--md);
  border-radius: var(--radius--md);
  overflow: hidden;

  /*  実際はカラムの中で使用される想定で、サイズを小さめにしています。  */
  max-width: 600px;
}
.card__media {
  aspect-ratio: 16/9;
}
.card__media > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  display: grid;
  gap: var(--space--4);
  padding: var(--space--6);
}
.card__title {
  font-size: var(--font-size--md);
}
.card__footer {
  display: flex;
  justify-content: end;
}

/* aspect-ratioを用いた横並びのカートレイアウト */
.cardHorizontal {
  display: flex;
  border-radius: var(--radius--md);
  box-shadow: var(--shadow--lg);
  overflow: hidden;
}
.cardHorizontal__content {
  flex-grow: 1;
  padding: var(--space--4);
  align-self: center;
}
.cardHorizontal__content > h3 {
  font-size: var(--font-size--md);
}
.cardHorizontal__content > p {
  font-size: var(--font-size--sm);
  margin-top: var(--space--2);
}
.cardHorizontal__image {
  aspect-ratio: 1 / 1;
  width: 25%;
  flex-shrink: 0;
}
.cardHorizontal__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
